.idea
.vscode
.github
data
*.drawio
logs
__pycache__
config/__pycache__
config_test/__pycache__
eval/__pycache__
gen_image/__pycache__
rag_langchain/__pycache__
rag_llama/__pycache__
speech/__pycache__
