.idea
.vscode
.github
__pycache__
config/__pycache__
config_test/__pycache__
eval/__pycache__
gen_image/__pycache__
rag/__pycache__
speech/__pycache__
tools/__pycache__
tools/transformers/__pycache__
whisper_app/__pycache__/
