torch-scatter

#RAG
langchain==0.0.292
langchain-core==0.1.23
chromadb==0.4.15
sentence-transformers==2.2.2
unstructured==0.10.30
markdown==3.3.7
pysqlite3-binary

modelscope==1.9.5
transformers==4.35.2
sentencepiece==0.1.99
huggingface_hub
accelerate==0.24.1
streamlit==1.25.0
numpy==1.26.3
tqdm==4.65.0
psutil==5.9.8
packaging==23.2
pre-commit==3.6.1
ninja
gputil==1.4.0
pytest==8.0.0
boto3==1.34.39
botocore==1.34.39
pyecharts==2.0.4

google-auth>=1.0.1
tiktoken==0.6.0

# text2image
zhipuai
diffusers

#speech
openai-whisper==20231117
streamlit-audiorecorder==0.0.4

#markdown
OpenCC==1.1.6
jieba==0.39

#Enhanced RAG
BCEmbedding==0.1.3
faiss-gpu==1.7.2
langchain_community
dashscope
rank_bm25

