modelscope==1.9.5 
transformers==4.35.2 
sentencepiece==0.1.99 
accelerate==0.24.1
streamlit==1.25.0
google-auth>=1.0.1
numpy
tqdm
psutil
packaging
pre-commit
ninja
gputil
pytest
packaging
boto3
botocore
pyecharts
tiktoken
chromadb==0.4.15
sentence-transformers==2.2.2
unstructured==0.10.30
markdown==3.3.7
pysqlite3-binary
accelerate==0.24.1
huggingface_hub
langchain==0.0.292
# speech 
openai-whisper
streamlit-audiorecorder



#--extra-index-url https://download.pytorch.org/whl/cu117
#torch==1.13.1+cu117
#torchvision==0.14.1+cu117
#torchaudio==0.13.1

